[Unit]
Description=Buxton2 Configuration Service
After=systemd-tmpfiles-setup.service

[Service]
ExecStart=/usr/sbin/buxton2d -f
User=buxton
Group=buxton
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
