[Unit]
Description=Setup for Buxton2 service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'mkdir -p /run/buxton2 && chmod 700 /run/buxton2 && chown buxton:buxton /run/buxton2'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
