[Unit]
Description=Buxton2 Configuration Service
Requires=buxton2-pre.service
After=buxton2-pre.service

[Service]
Environment=BUXTON_CYNARA_PERMISSIVE_MODE=1
ExecStart=/usr/sbin/buxton2d -f
User=buxton

[Install]
WantedBy=multi-user.target
